<!DOCTYPE html>
<html lang="es" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
   <meta charset="UTF-8">
   <title>Las Brujas del Blair</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
   <link type="text/css" rel="stylesheet" href="css/estilo.css">
   <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body id="app" >
<nav class="navbar" role="navigation" aria-label="main navigation">
   <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
         <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
      </a>
      
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
         <span aria-hidden="true"></span>
         <span aria-hidden="true"></span>
         <span aria-hidden="true"></span>
      </a>
   </div>
   
   <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
         <a class="navbar-item">
            Home
         </a>
         
         <a  v-show="isMaster" class="navbar-item" @click="setPagina('categorias')">
            Categorias
         </a>
         
         <a  v-show="isMaster" class="navbar-item " @click="mostrarProductos">
            Productos
         </a>
         
         <a  v-show="isUsuario" class="navbar-item " @click="setPagina('pedidos')">
            Pedidos
         </a>
      </div>
      
      <div class="navbar-end">
         <div class="navbar-item">
            <div v-show="!(isUsuario||isMaster)" class="buttons">
               <a @click="abrirRegistro()" class="button is-primary">
                  <strong>Registrarse</strong>
               </a>
               <a @click="abrirIniciarSesion()" class="button is-light">
                  Iniciar Sesion
               </a>
            </div>
            
            <div v-show="(isUsuario||isMaster)" class="buttons">
               <a v-show="isMaster" @click="abrirRegistro()" class="button is-primary">
                  <strong>Registrar Mesero</strong>
               </a>
               <a @click="cerrarSesion()" class="button is-light">
                  Cerrar Sesion
               </a>
            </div>
         </div>
      </div>
   </div>
</nav>
<section class="section">
   <section v-show="isUsuario&&!(isMaster)" class="section">
      <div v-show="isPagina('pedidos')" class="container">
         <h1 class="title">
            Añadir Pedido
         </h1>
         <button @click="setAnadirPedido()" class="button is-primary">Añadir Pedido</button>
         <div class="modal field" v-bind:class="{'is-active':anadirPedido}">
            <div class="modal-background"></div>
            <div class="modal-content">
               <div class="box">
                  <div class="content has-text-centered">
                     <form  v-on:submit="sub" action="#" method="post" >
                        
                        <div class="field">
                           <div class="control">
                              <input type="text" class="input is-primary auth" placeholder="Id del Pedido"
                                     v-model="pedido.idPedido">
                           </div>
                        </div>
   
                        <div class="field is-horizontal">
                           <div class="field-label is-normal">
                              <label class="label">Categoria: </label>
                           </div>
                           <div class="field-body">
                              <div class="field">
                                 <div class="control">
                                    <div class="select is-primary">
                                       <select v-model="pedido.categoria.nombre" >
                                          <option v-for="categoria in listaCategorias" :value="categoria.nombre">
                                             {{categoria.nombre}}
                                          </option>
                                       </select>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
   
                        <table class="table">
                           <thead>
                           <tr>
                              <th>Tipo</th>
                              <th>Nombre</th>
                           </tr>
                           </thead>
                           <tbody>
                           <tr>
                              <td>
                                 <div class="field is-horizontal">
                                    <div class="field-body">
                                       <div class="field">
                                          <div class="control">
                                             <div class="select is-primary">
                                                <select v-model="pedido.productos[0].tipo" >
                                                   <option v-for="product in listaTiposProductos"
                                                           v-show="(product.categoria==pedido.categoria.nombre)&&
                                                  (product.tipo=='Ensalada'||product.tipo=='Consome')"
                                                           :value="product.tipo">
                                                      {{product.tipo}}
                                                   </option>
                                                </select>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </td>
                              <td>
                                 <div class="field is-horizontal">
                                    <div class="field-body">
                                       <div class="field">
                                          <div class="control">
                                             <div class="select is-primary">
                                                <select v-model="pedido.productos[0].idProducto" >
                                                   <option v-for="product in listaProductos"
                                                           v-show="(product.tipo==pedido.productos[0].tipo)&&
                                                  (product.categoria.idCategoria==pedido.categoria.nombre)&&
                                                  (product.tipo=='Ensalada'||product.tipo=='Consome')"
                                                           :value="product.idProducto">
                                                      {{product.nombre}}
                                                   </option>
                                                </select>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 <div class="field is-horizontal">
                                 <div class="field-body">
                                    <div class="field">
                                       <div class="control">
                                          <div class="select is-primary">
                                             <select v-model="pedido.productos[1].tipo">
                                                <option v-for="product in listaTiposProductos"
                                                        v-show="product.categoria==pedido.categoria.nombre&&
                                                  (product.tipo=='Plato principal')"
                                                        :value="product.tipo">
                                                   {{product.tipo}}
                                                </option>
                                             </select>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 </div>
                              </td>
                              <td>
                                 <div class="field is-horizontal">
                                    <div class="field-body">
                                       <div class="field">
                                          <div class="control">
                                             <div class="select is-primary">
                                                <select v-model="pedido.productos[1].idProducto">
                                                   <option v-for="product in listaProductos"
                                                           v-show="(product.tipo==pedido.productos[1].tipo)&&
                                                  (product.categoria.idCategoria==pedido.categoria.nombre)&&
                                                  (product.tipo=='Plato principal')"
                                                           :value="product.idProducto">
                                                      {{product.nombre}}
                                                   </option>
                                                </select>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td>
                                 <div class="field is-horizontal">
                                    <div class="field-body">
                                       <div class="field">
                                          <div class="control">
                                             <div class="select is-primary">
                                                <select v-model="pedido.productos[2].tipo" >
                                                   <option v-for="product in listaTiposProductos"
                                                           v-show="product.categoria==pedido.categoria.nombre&&
                                                  (product.tipo=='Bebida mineral')"
                                                           :value="product.tipo">
                                                      {{product.tipo}}
                                                   </option>
                                                </select>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </td>
                              <td>
                                 <div class="field is-horizontal">
                                    <div class="field-body">
                                       <div class="field">
                                          <div class="control">
                                             <div class="select is-primary">
                                                <select v-model="pedido.productos[2].idProducto" >
                                                   <option v-for="product in listaProductos"
                                                           v-show="(product.tipo==pedido.productos[2].tipo)&&
                                                  (product.categoria.idCategoria==pedido.categoria.nombre)&&
                                                  (product.tipo=='Bebida mineral')"
                                                           :value="product.idProducto">
                                                      {{product.nombre}}
                                                   </option>
                                                </select>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </td>
                           </tr>
                           <tr>
                           
                           </tr>
                           <tr>
                           
                           </tr>
                           </tbody>
                        </table>
                        
                        
                        <div class="field is-horizontal">
                           <div class="field-label is-normal">
                              <label class="label">Cantidad del Pedido: </label>
                           </div>
                           <div class="field-body">
                              <div class="field">
                                 <div class="control">
                                    <input type="number" class="input is-primary auth"  placeholder="Cantidad de Productos"
                                           v-model="pedido.cantidad">
                                 </div>
                              </div>
                           </div>
                        </div>
                        
                        <button type="button" class="button  is-primary" v-on:click="registrarPedido()">Registrar</button>
                     </form>
                  </div>
               </div>
            </div>
            <button @click="cerrarPedido" class="modal-close"></button>
         </div>
      
      
      </div>
   </section>
   <section v-show="isMaster" class="section">
      <div v-show="isPagina('categorias')" class="container">
         <h1 class="title">
            Categorias
         </h1>
         <button @click="obtenerCategorias()" class="button"> Inicializar Precios de Categorias</button>
         <div v-show="revisar">
            <p>Por favor, ingrese los precios de las categorias</p>
            <div v-for="categoria in lista">
               <div class="field">
                  <div class="label">{{ categoria.nombre }}</div>
                  <div class="control">
                     <input class="input " type="text" placeholder="Text input" v-model="categoria.precio">
                  </div>
               </div>
               <button @click="actualizarCategorias(categoria)" class="button" > Enviar</button>
            </div>
         
         </div>
         <button @click="editarPrecio()" class="button"> Editar precio de Categorias</button>
         <div v-show="editar">
            <p>Por favor, ingrese los precios de las categorias</p>
            <div v-for="categoria in lista">
               <div class="field">
                  <div class="label">{{ categoria.nombre }}</div>
                  <div class="control">
                     <input class="input " type="text" placeholder="Text input" v-model="categoria.precio">
                     <button @click="actualizarCategorias(categoria)" class="button" > Enviar</button>
                  </div>
               </div>
            
            </div>
         
         
         </div>
      
      </div>
      <div v-show="isPagina('productos')" class="container">
         <h1 class="title">
            Añadir Producto
         </h1>
         <button @click="setAnadirProducto()" class="button">Añadir Producto</button>
         <div class="modal field" v-bind:class="{'is-active':anadirProducto}">
            <div class="modal-background"></div>
            <div class="modal-content">
               <div class="box">
                  <div class="content has-text-centered">
                     <form  v-on:submit="sub" action="#" method="post" >
   
                        <div class="field is-horizontal">
                           <div class="field-label is-normal">
                              <label class="label">Categoria: </label>
                           </div>
                           <div class="field-body">
                              <div class="field">
                                 <div class="control">
                                    <div class="select is-primary">
                                       <select v-model="producto.categoria.nombre" >
                                          <option v-for="categoria in listaCategorias" :value="categoria.nombre">
                                             {{categoria.nombre}}
                                          </option>
                                       </select>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
   
                        <div class="field is-horizontal">
                           <div class="field-label is-normal">
                              <label class="label">Tipo de producto: </label>
                           </div>
                           <div class="field-body">
                              <div class="field">
                                 <div class="control">
                                    <div class="select is-primary">
                                       <select v-model="producto.tipo" >
                                          <option v-for="product in listaTiposProductos" v-show="product.categoria==producto.categoria.nombre"  :value="product.tipo">
                                             {{product.tipo}}
                                          </option>
                                       </select>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
   
                        <div class="field is-horizontal">
                           <div class="field-label is-normal">
                              <label class="label">ID del producto: </label>
                           </div>
                           <div class="field-body">
                              <div class="field">
                                 <div class="control">
                                    <input type="text" class="input is-primary auth" placeholder="Ingrese ID del producto"
                                           v-model="producto.idProducto">
                                 </div>
                              </div>
                           </div>
                        </div>
                        
                        <div class="field is-horizontal">
                           <div class="field-label is-normal">
                              <label class="label">Nombre del producto: </label>
                           </div>
                           <div class="field-body">
                              <div class="field">
                                 <div class="control">
                                    <input type="text" class="input is-primary auth" placeholder="Nombre del Producto"
                                           v-model="producto.nombre">
                                 </div>
                              </div>
                           </div>
                        </div>
                        
                        <div class="field is-horizontal">
                           <div class="field-label is-normal">
                              <label class="label">Cantidad de Productos: </label>
                           </div>
                           <div class="field-body">
                              <div class="field">
                                 <div class="control">
                                    <input type="number" class="input is-primary auth"  placeholder="Cantidad de Productos"
                                           v-model="producto.cantidad">
                                 </div>
                              </div>
                           </div>
                        </div>
                        
                        <button type="button" class="button  is-primary" v-on:click="registrarProducto()">Registrar</button>
                     </form>
                  </div>
               </div>
            </div>
            <button @click="cerrar" class="modal-close"></button>
         </div>
      
      
      </div>
   
   
   </section>
   
   <section v-show="!(isMaster||isUsuario)">
      
      <div>
         <p>Se tiene un usuario Master(con las mismas credenciales y tipo)</p>
         <p>El Master puede elegir los precios de cada categoria</p>
         <p>El Master ingresa los productos</p>
         <p>El Master solo puede crear usuarios de tipo Mesero</p>
         <p>Cualquier persona se puede registrar como cliente</p>
         <p>El mesero y el cliente son de tipo Usuario lo cual les permite acceder</p>
         </p> a la creación de un pedido</p>
      </div>
      
      
   </section>
   <div >
      <div class="modal field" v-bind:class="{'is-active':isActive}">
         <div class="modal-background"></div>
         <div class="modal-content">
            <div class="box">
               <div class="content has-text-centered">
                  <div class="tabs is-boxed">
                     <ul>
                        <li :class="{'is-active':isPagina('registro')}">
                           <a @click="setPagina('registro')">
                              <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
                              <span>Registro</span>
                           </a>
                        </li>
                        <li  v-show="!(isMaster)" :class="{'is-active':isPagina('iniciarSesion')}">
                           <a @click="setPagina('iniciarSesion')">
                              <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
                              <span>Iniciar Sesion</span>
                           </a>
                        </li>
                     </ul>
                  </div>
                  <form  v-show="isPagina('registro')"  >
                     
                     <div class="field">
                        <div class="label">Nombres</div>
                        <div class="control">
                           <input class="input" type="text" placeholder="Text input" v-model="usuario.nombres">
                        </div>
                     </div>
                     
                     <div class="field">
                        <div class="label">Codigo</div>
                        <div class="control has-icons-left has-icons-right">
                           <input class="input" type="text" placeholder="Text input" v-model="usuario.idUsuario">
                           <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                        </div>
                     </div>
                     
                     <div class="field">
                        <label class="label">Contraseña</label>
                        <div class="control has-icons-left has-icons-right">
                           <input class="input" type="password" placeholder="Password input" v-model="usuario.password">
                           <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                        </div>
                     </div>
                     
                     <div>
                        <button type="button" class="button  is-primary" v-on:click="registrarUsuario()">Registrar</button>
                     </div>
                  </form>
                  <form  v-show="isPagina('iniciarSesion')"  >
                     
                     <div class="field">
                        <label class="label">Correo</label>
                        <div class="control has-icons-left has-icons-right">
                           <input class="input" type="email" placeholder="Email input" v-model="login.correo">
                           <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                        </div>
                     </div>
                     
                     <div class="field">
                        <label class="label">Contraseña</label>
                        <div class="control has-icons-left has-icons-right">
                           <input class="input" type="password" placeholder="Password input" v-model="login.password">
                           <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                        </div>
                     </div>
                     
                     <div>
                        <button type="button" class="button  is-primary" v-on:click="iniciarSesion()">Registrar</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
         <button @click="close" class="modal-close"></button>
      </div>
   
   </div>



</section>



<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.12.0/lodash.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js'></script>

<script src="js/app.js" type="text/javascript"></script>
</body>
</html>